<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="indexHeader">

    <!-- Naver Map -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=4sjdn8t06u"></script>

    <!-- Webpage Title -->
    <title>CRACKER | Share the crumbs of every moment</title>

    <!-- Import CSS -->
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/mainLogo.css" rel="stylesheet">


    <!-- Import JS -->
    <link href="/js/map.js">

</head>