<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="loginHeader">

    <!-- Webpage Title -->
    <title>CRACKERS | Login</title>

    <!-- Import CSS -->
    <link href="/css/mainLogo.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">

    <!-- Import JS -->
    <script src="/js/login.js"></script>

    <!-- 뒤로가기 막기 -->
    <script>
        history.pushState(null, null, location.href);
        window.onpopstate = function (event) {
            history.go(1);
        }
    </script>

</head>