<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main navigation" th:fragment="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="logo/logo_sub.png">&nbsp&nbsp
            <h5 class="logo">CRACKER</h5>
            <strong class="is-sparta"
                    style="font-family: 'Stylish', sans-serif;font-size: larger;"></strong>
        </a>
    </div>
    <div class="crack-out">
        <button class="button sign-out-btn" onclick="">Crack OUT</button>
    </div>
</nav>