<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main navigation" th:fragment="userNavbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/logo/logo_sub.png">
            <h5 class="logo">CRACKER</h5>
        </a>
    </div>
    <div class="navbar-btn">
        <button class="button" th:if="${user.get().getId() != userInfo.id}"
                th:onclick="|location.href ='@{/user/{userId}(userId=${user.get().getId})}'|">My Page
        </button>
        <button class="button sign-out-btn" onclick="sign_out()">Crack OUT</button>
    </div>
</nav>