.place-info {
    padding-bottom: 1rem;
    margin: auto;
    min-width: 400px
}

.input-comment-section {
    width: 50%;
    max-width: 1500px;
    margin: 50px auto 0px auto;
    background-color: #F3E9DD;
    vertical-align: center;
}

.comment-list{
    overflow: auto;
    background-color: #fdf7f0;
}

.posts-section {
    width: 100%;
    height: 600px;
    max-width: 1500px;
    margin: 10px auto 0px auto;
    padding-bottom: 20px;
    background-color: #F3E9DD;
    overflow: auto;
}

.post-btn {
    vertical-align: center;
    margin-left: 10px;
}

.enroll-btn {
    height: 90px;
    width: 90px;
}

.delete-comment {
    float: right;
    color: red;
}