body {
    background-color: #F3E9DD;
    min-height: 100vh;
    padding-top: 3.25rem;
}

.user-name {
    font-family: 'Gowun Batang', serif;
    font-size: 22px;
    vertical-align: middle;
}

/*로그인 버튼*/
.crack-in-btn {
    margin-left : 20px;

    font-family : "Source Code Pro", monospace;
    font-weight: bolder;

    background-color: #92de78;
}

/*로그아웃 버튼*/
.crack-out-btn {
    margin-left : 20px;

    font-family: 'Source Code Pro', monospace;
    font-weight: bolder;

    background-color: #E3B7A0;
}


/*전체 폰트*/
* {
    font-family: 'Gowun Batang', serif;
}