body {
    background-color: #F3E9DD;
    min-height: 100vh;
    padding-top: 3.25rem;
}

.user-name {
    font-family: 'Gowun Batang', serif;
    font-size: 22px;
    vertical-align: middle;
}

/*로그인 버튼*/
.crack-in-btn {
    margin-left : 20px;

    font-family : "Source Code Pro", monospace;
    font-weight: bolder;

    background-color: #92de78;
}

/*로그아웃 버튼*/
.crack-out-btn {
    margin-left : 20px;

    font-family: 'Source Code Pro', monospace;
    font-weight: bolder;

    background-color: #E3B7A0;
}


/*전체 폰트*/
* {
    font-family: 'Gowun Batang', serif;
}

/*textarea 크기고정*/
.textarea {
    resize: none;
}

/*삭제 확인 모달*/
.confirm.msg {
    font-size: larger;
}

.confirm.cancel-button {
    background-color: #eddfca;
    border-color: #eddfca;
}

/*예, 아니오 버튼*/
.button.save-button {
    background-color: #3A3845;
    border-color: transparent;
    color: #FDF6EC !important;
}

.button.cancel-button {
    background-color: #FDF6EC;
    border-color: #FDF6EC;
    color: #3A3845 !important;
}