/* 유저 정보 section */
.crack-in-btn {
    margin-left : 20px;

    font-family : "Source Code Pro", monospace;
    font-weight: bolder;

    background-color: #92de78;
}

.user-info {
    text-align: right;
    margin: auto ;
    max-width: 1600px;
    height: 60px;
}

.crack-out-btn {
    margin-left : 20px;

    font-family: 'Source Code Pro', monospace;
    font-weight: bolder;

    background-color: #E3B7A0;
}

/*지도 맛집 리스트 section*/
.map-place-area {
    height: 600px;
    max-width: 1600px;
    margin: 75px auto 50px auto;
}

#map{
    float: left;
    width: 55%;
    height: 100%;

    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: #F3E9DD;

    z-index: 0;
}

.home.place-area {
    float: right;
    margin:0px 20px 0px auto;
    width: 38%;
}

/*화면 크기에 따른 예외 처리*/
@media screen and (max-width: 1050px) {
    #map{
        display: none;
    }

    .home.place-area {
        float: none;
        margin : auto;
        width: 80%;
    }
}