.user.place-area {
    margin: 30px auto 20px auto;
    width: 50%;
    height : 800px;
    overflow: auto;
}

.place-search-area{
    text-align: center;
    margin-bottom: 20px;
}

.place-search-input-box {
    width :80%
}

.home.place-list {
    text-align: left;
    height: 500px;
    overflow: auto;
    position: relative;
}

.user.place-list {
    text-align: left;
    height: 500px;
    overflow: auto;
    position: relative;
}

/*버튼s*/
.find-btn {
    background-color: #DAB88B !important;
    border-color: #DAB88B !important;
    font-family: 'Gowun Batang', serif;
}

.community-btn {
    background-color: #A0BCC2 !important;
    font-family: 'Gowun Batang', serif;
}

.delete-place-btn {
    margin-left : 5px;
    background-color: #ECA6A6 !important;
    font-family: 'Gowun Batang', serif;
}

.place-list-button-area {
    margin-top: 10px;
    float : right;
}

/*modal*/
.modal-content {
    width: 600px;
    max-width: 80%;
}

.modal-list {
    height: 500px;
    overflow: auto;
}

.place-search-info {
    padding-top : 10px;
    padding-bottom: 10px;
    margin : 0px;
    border-bottom:1px solid #E5E8E8;
}
.place-search-info:last-child {

    border-bottom:none;
}