.profile-background {
    height :250px;
}

/* 유저 변경 */
.profile-area {
    height: 150px;
    margin: auto;
}

.profile-img {
    max-width: 128px;
    max-height: 128px;
}

.user-info-area {
    margin-left: 20px;
}

.status-msg {
    max-width: 200px;
}

/* 유저 정보 변경 버튼*/
.edit-button-area {
    margin : auto;
    width: 800px;
}

.edit-icon {
    margin-left : 30px;
}