
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"></th:block>
    <th:block th:replace="fragments/communityHeader :: communityHeader"></th:block>
</head>

<body>
<nav th:replace="fragments/navbar :: navbar"/>
<section class="hero is-white">
    <div class="hero-body place-info">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <h3 id="matjip_name"><b th:text="${placeInfo.name}"></b><span id="place_id" th:text="${placeInfo.id}" hidden></span></h3>
                    <p th:text="'카테고리 : '+${placeInfo.cate}"></p>
                    <p th:text="'지번 주소 : '+${placeInfo.addr}"></p>
                    <p th:text="'도로명 주소 : '+${placeInfo.addrRoad}"></p>
                    <div>
                        <span th:text="'전화번호 : '+${placeInfo.phoneNum}"></span>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<section class="community input-comment-section">
    <article class="media">
        <div class="media-content">
            <div class="field">
                <p class="control">
                    <textarea id="textarea-post" class="textarea comment-list" rows="3" placeholder="댓글 추가..."> </textarea>
                </p>
            </div>
        </div>
        <div class="level-right post-btn">
            <div class="level-item">
                <a class="button is-cracker enroll-btn" onclick="post()">등록</a>
            </div>
        </div>
    </article>
</section>

<section class="community posts-section">
    <div id="post-box" class="container">
        <div class="box comment-list">
            <article class="media">
                <div class="media-left">
                    <a class="image is-64x64" href="#">
                        <img class="is-rounded" src="../profile_pics/profile_placeholder.png">
                    </a>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>hong</strong> <small>@username</small> <small>10minute later</small>
                            <a type="button" class="delete-comment" onclick="(delete comment 함수 호출)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            <br>
                            write post
                        </p>
                    </div>
                </div>
            </article>
        </div>
            <div class="footer">
                <a type="button" class="recomment" onclick="(delete comment 함수 호출)"><i class="fa fa-sort-desc" aria-hidden="true"></i>
            </div>
    </div>
</section>

<footer>
    <div th:replace="fragments/footer :: footer" />
</footer>
</body>
</html>