<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"></th:block>
    <th:block th:replace="fragments/communityHeader :: communityHeader"></th:block>
</head>

<body>
<nav th:replace="fragments/navbar :: navbar"/>
<section class="hero is-white">
    <div class="hero-body place-info">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <h3 id="matjip_name"><b th:text="${communityInfo.name}"></b><span id="place_id" th:text="${communityInfo.id}" hidden></span></h3>
                    <p th:text="'카테고리 : '+${communityInfo.cate}"></p>
                    <p>지번 주소 : <span id="community-addr" th:text="${communityInfo.addr}"></span></p>
                    <p th:text="'도로명 주소 : '+${communityInfo.addrRoad}"></p>
                    <div>
                        <span th:text="'전화번호 : '+${communityInfo.phoneNum}"></span>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<section class="community input-comment-section">
    <article class="media">
        <div class="media-content">
            <div class="field">
                <p class="control">
                    <textarea id="textarea-post" class="textarea comment-list" rows="3"
                              placeholder="댓글 추가..."> </textarea>
                </p>
            </div>
        </div>
        <div class="level-right post-btn">
            <div class="level-item">
                <a class="button is-cracker enroll-btn" onclick="post()">등록</a>
            </div>
        </div>
    </article>
</section>

<section class="community posts-section">
    <div id="post-box" class="container">

    </div>
</section>

<footer>
    <div th:replace="fragments/footer :: footer"/>
</footer>
</body>
</html>